:root {
  --md-primary-fg-color: #181818;
}

/* nice blue header color to go with the default bg color
:root {
  --md-primary-fg-color: #151726;}
*/

.md-tabs { /* dashed line for the collapsible header */
    border-bottom: 1px dashed #b5e847;
}

/* dashed line for h1 headers, looks pretty cool
h1 {
    padding-bottom: 15px;
    border-bottom: 1px dashed #b5e847;
}
*/

[data-md-color-scheme="slate"] {
  --md-default-bg-color: rgb(28, 28, 28); /* set sitewide background color*/
  --md-typeset-color: #cecac3; /* set sitewide text color */
  --md-code-bg-color: rgb(20, 20, 23); /* set code-blocks background color*/
  --md-footer-bg-color: #181818; /* set cooter background color */
  /* --md-typeset-a-color: #51c0f5; */
}
